<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057720385634-26vmmvaa0a0u3fadve9u1n8j1416f26d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057720385634-26vmmvaa0a0u3fadve9u1n8j1416f26d</string>
	<key>API_KEY</key>
	<string>AIzaSyBDEg9WxwmCu4rbh0DiuMUMQzjwQWqVH-A</string>
	<key>GCM_SENDER_ID</key>
	<string>1057720385634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codemiro.hour4u</string>
	<key>PROJECT_ID</key>
	<string>hour4u-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>hour4u-uat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057720385634:ios:de34fe756021e6a226113b</string>
	<key>DATABASE_URL</key>
	<string>https://hour4u-uat.firebaseio.com</string>
</dict>
</plist>