ion-content
{


    --background: #EFEFEF;

    .half_bg {
        background: #49E5D6;
        margin-top: -20px;
        height: 250px;
    }

    img.notify_img {
        height: 27px;
    }

    ion-title.md.title-default.hydrated {
        text-align: center;
        font-size: 24px;
        color: black;
    }

    ion-title.ios.title-default.hydrated {
        text-align: center;
        font-size: 24px;
        color: black;
    }

    p.personal-info-text {
        padding-top: 36px;
        padding-left: 20px;
        font-weight: bold;
        font-family: inherit;
    }

    .header_ {
        display: inline-flex;
    }


    .title
    {
        h2{
            font-weight: bold !important;
        }
    }

    .input-label {
        border-bottom: 2px solid #d3d3d345;
        width: 94%;
        padding-bottom: 9px;
        padding-top: 13px;
    }

    p.l_text {
        color: #92949c !important;
        font-size: 16px;
    }
    .info-card
    {
            background: white;
            border-top-left-radius: 27px;
            border-top-right-radius: 95px;
            padding-top: 15px;
            padding-left: 22px;
            margin-top: 99px;
            -webkit-box-shadow: 8px 7px 9px 0px rgba(232,232,232,1);
            -moz-box-shadow: 8px 7px 9px 0px rgba(232,232,232,1);
            box-shadow: 1px 7px 9px 0px #e8e8e8;
            border-bottom-right-radius: 27px;
            border-bottom-left-radius: 27px;   
            padding-bottom: 35px;        

    }
   

    ion-toolbar.in-toolbar.ios.toolbar-title-default.hydrated {
        --background: #49E5D6;
    }

    ion-toolbar.in-toolbar.md.toolbar-title-default.hydrated {
        --background: #49E5D6;
    }

   .top_icon {
        font-size: 23px;
        padding-right: 6px;
        padding-top: 6px;
        padding-left: 6px;
    }

    p.allow_access {
        color: gray !important;
        font-size: 14px;
        padding-top: 6px;
    }

    p.get_address {
        margin-bottom: 2px;
    }

    .search_ {
        background: #F1F1F2;
        margin-right: 20px;
    }

    .search_icon{
        margin-left: 9px !important;
        margin-right: 5px;
        color: gray;
    }

    #notify-btn {
        position: relative;
        font-size: 23px;
        padding-right: 9px;
        padding-top: 6px;
        padding-left: 6px;
     }
     
     #n-badge {
        position: absolute;
        top: 0px;
        right: 4px;
        background: white;
        color: black;
        margin-top: 6px;
        border-radius: 100px;
        height: 16px;
        padding: 7px;
        padding-top: 2px;
        font-size: 12px;
        font-weight: bold;
        width: 18px;
        padding-left: 5px;
     }




   
}



.save-btn{
    width: 75%;
    margin-top: 36px;
    background-color: #ADADAD;
    color: white;
    height: 39px;
    font-weight: bold;
    border-radius: 60px;
    font-size: 15px;
}
