<ion-content>
  <div class="map-holder">
    <div class="img-holder" id="img1">
      <ion-avatar>
        <img src="assets/imgs/ww.jpg" />
      </ion-avatar>
    </div>
    <div class="img-holder" id="img2">
      <ion-avatar>
        <img src="assets/imgs/ww.jpg" />
      </ion-avatar>
    </div>
    <div class="img-holder" id="img3">
      <ion-avatar>
        <img src="assets/imgs/ww.jpg" />
      </ion-avatar>
    </div>
    <div class="img-holder" id="img4">
      <ion-avatar>
        <img src="assets/imgs/ww.jpg" />
      </ion-avatar>
    </div>
  </div>
  <div class="number-holder ion-text-center ion-padding-horizontal">
    <div class="input-item ion-text-left">
      <ion-label>Enter Your Phone Number</ion-label>
      <ion-item>
        <ion-row>
          <ion-col size="1.5" class="start-col">
            <img src="assets/imgs/flag-india.svg" alt="">
          </ion-col>
          <ion-col size="2" class="start-col">
            <ion-input type="text" value="+91"></ion-input>
          </ion-col>
          <ion-col size="8" class="ion-text-left">
            <ion-input type="text" [(ngModel)]="mobileNo"></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    <div class="btn-holder">
      <ion-button expand="block" shape="round" (click)=" goVerify()">
        CONTINUE
      </ion-button>
    </div>
  </div>
  <div class="ion-text-center">
    <p class="ion-text-wrap">
      You will receive an SMS for verification
    </p>
  </div>
</ion-content>